*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* With this, we allow the user to zoom in on the page automatically. 
   Not only to change the font size, but to also zoom in on the page. */
/* 10px / 16px = .625px = 62.5%;
          .625px * 16px = 10px
    if the users changes to 20px
          .625px * 20px = 12.5px */
html {
    // This defines what 1rem is
    font-size: 62.5%; // 1rem = 10px

    // @media (max-width: 600px) {
    //     font-size: 50%;
    // }
    // @include respond-phone {
    //     font-size: 50%;
    // }
    /*
    - This is the order in which we have to put the media queries.
    - Always the larger ones before the smaller ones.
    */
    @include respond(tab-land) {  //width < 1200?
        font-size: 56.25%; // I want 1rem = 9px, 9 / 16 = .5625 or 56.25%
    }

    @include respond(tab-port) { //width < 900?
        font-size: 50%; // I want 1rem = 8px, 8 / 16 = .5 or 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; // I want 1rem = 12, 12 / 16 = .75 or 75% 
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}

::selection {
    color: $color-white;
    background-color: $color-primary;
}