@mixin clearfix {
    &::after {
        content: "";
        display: table; // The standard version of the clearfix
        clear: both; // Clear both floats left and right
    }
}

@mixin center-horizontal-vertical {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}